
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>


<% @restaurant.reviews.each do |review| %>
 <p><%= review.content %></p>
 <p><%= review.rating%></p>

<% end %>

<div>
  <%= link_to "All restaurants", restaurants_path, class: "btn btn-primary" %>
</div>
<div>
  <%= link_to "new review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
</div>
